<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="fragments/headTag :: headTag">
	</head>
	<body class="no-skin">
		<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"></meta>
		<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"></meta>
		<!-- TEMPLATE HEADER NAVBAR -->
		<div th:include="fragments/header-navbar" th:remove="tag"></div>
		<div class="main-container ace-save-state" id="main-container">
			<script th:inline="javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

			<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
				<script th:inline="javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script>

				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
					<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
						<button class="btn btn-success">
							<i class="ace-icon fa fa-signal"></i>
						</button>

						<button class="btn btn-info">
							<i class="ace-icon fa fa-pencil"></i>
						</button>

						<button class="btn btn-warning">
							<i class="ace-icon fa fa-users"></i>
						</button>

						<button class="btn btn-danger">
							<i class="ace-icon fa fa-cogs"></i>
						</button>
					</div>

					<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>
				</div><!--/.sidebar-shortcuts !-->
				
				<!-- TEMPLATE MENU LATERAL -->
				<div sec:authorize="hasRole('ROLE_ADMIN')">
					<div th:include="fragments/menuLateralAdmin" th:remove="tag"></div>
				</div>
				<div sec:authorize="hasRole('ROLE_PROFESSOR')">
					<div th:include="fragments/menuLateralProfessor" th:remove="tag"></div>
				</div>
				<div sec:authorize="hasRole('ROLE_RESPONSAVEL')">
					<div th:include="fragments/menuLateralResponsavel" th:remove="tag"></div>
				</div>
				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>

			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							<li class="active">Dashboard</li>
						</ul><!--/.breadcrumb!-->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!--/.nav-search!-->
					</div>

					<div class="page-content">
						<div class="ace-settings-container" id="ace-settings-container">
							<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
								<i class="ace-icon fa fa-cog bigger-130"></i>
							</div>

							<div class="ace-settings-box clearfix" id="ace-settings-box">
								<div class="pull-left width-50">
									<div class="ace-settings-item">
										<div class="pull-left">
											<select id="skin-colorpicker" class="hide">
												<option data-skin="no-skin" value="#438EB9">#438EB9</option>
												<option data-skin="skin-1" value="#222A2D">#222A2D</option>
												<option data-skin="skin-2" value="#C6487E">#C6487E</option>
												<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
											</select>
										</div>
										<span>&nbsp; Choose Skin</span>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
										<label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
										<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
										<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
										<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
										<label class="lbl" for="ace-settings-add-container">
											Inside
											<b>.container</b>
										</label>
									</div>
								</div><!--/.pull-left!-->

								<div class="pull-left width-50">
									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
										<label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
										<label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
										<label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
									</div>
								</div><!--/.pull-left-->
							</div><!--/.ace-settings-box-->
						</div><!--/.ace-settings-container!-->
						
						<div class="page-header">
							<h1>
								Aluno
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									Cadastro de novo Aluno
								</small>
							</h1>
						</div>
						<!-- 		page-header -->
						<div class="row">
							<div class="col-xs-12">
							
<!-- 							AQUI COMECA O FORM -->

							<form th:action="@{/alunos/gravar}" method="post" class="form-horizontal" role="form" th:object="${aluno}">
								<input type="hidden" th:field="*{id}"/>
								<input type="hidden" th:field="*{responsavel.id}" id="responsavelId"/>
								<input type="hidden" th:field="*{endereco.id}"/>
								<input th:if="*{turma != null}" type="hidden" th:field="*{turma.id}"/>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Nome completo</label>
									<div class="col-sm-9">
										<input type="text" th:field="*{nome}" class="col-xs-10 col-sm-5" th:value="${nome}" placeholder="Nome"/>
										<label class="error" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Name error</label>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Telefone</label>
									<div class="col-sm-9">
										<input type="text" th:field="*{telefone}" class="col-xs-10 col-sm-5" th:value="${telefone}"/>
										<label class="error" th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}">Name error</label>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Data de Nascimento</label>
									<div class="col-sm-5">
										<input type="date" th:field="*{dataNascimento}" class="col-xs-10 col-sm-8 date-picker" th:value="${dataNascimento}"/>
										<span class="input-group-addon">
											<i class="fa fa-calendar bigger-110"></i>
										</span>
										<label class="error" th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}">Name error</label>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> RG</label>
									<div class="col-sm-9">
										<input type="text" th:field="*{rg}" class="col-xs-10 col-sm-5" th:value="${rg}"/>
										<label class="error" th:if="${#fields.hasErrors('rg')}" th:errors="*{rg}">Name error</label>
									</div>
								</div>
								<h3 class="header smaller lighter blue">Responsável</h3>
								<div class="form-group">
									<div class="input-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1"></label>
										<span class="input-group-addon">
											<i class="ace-icon fa fa-check"></i>
										</span>
	
										<input id="cpfResponsavel" class="form-control search-query" placeholder="Digite o CPF do responsável" type="text" th:value="*{responsavel.cpf}"/>
										<span class="input-group-btn">
											<button type="button" class="btn btn-inverse btn-white" id="buscarResponsavel">
												<span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
												Buscar
											</button>
										</span>
									</div>
									
									<div class="alert alert-block alert-success hidden" id="responsavelEncontradoMsg">
										<p>
												<i class="ace-icon fa fa-check"></i>
											<span>You successfully read this important alert message.</span>
										</p>
									</div>
									
									<div class="alert alert-danger hidden" id="erroResponsavel">
										<button type="button" class="close" data-dismiss="alert">
											<i class="ace-icon fa fa-times"></i>
										</button>

										<strong>
											<i class="ace-icon fa fa-times" ></i>
											<span>Oh snap!</span>
										</strong>
										<br/>
									</div>
									
									<div id="responsavelEncontradoAttr" class="hidden">
										<div class="col-sm-9">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-4">Nome</label>
											<input class="input-large" id="responsavelEncontradoNome" type="text" disabled="disabled"/>
											
										</div>
										<div class="col-sm-9">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-4">Cpf</label>
											<input class="input-large" id="responsavelEncontradoCpf" type="text" disabled="disabled"/>
										</div>
									</div>
								
								</div>
								
								<h3 class="header smaller lighter blue">Endereço</h3>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Rua/Av</label>
									<div class="col-sm-9">
										<input type="text" th:field="*{endereco.rua}" class="col-xs-10 col-sm-5" th:value="*{endereco.rua}" placeholder=""/>
										<label class="error" th:if="${#fields.hasErrors('endereco.rua')}" th:errors="*{endereco.rua}">Name error</label>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Número</label>
									<div class="col-sm-9">
										<input type="text" th:field="*{endereco.numero}" class="col-xs-10 col-sm-5" th:value="*{endereco.numero}" placeholder=""/>
										<label class="error" th:if="${#fields.hasErrors('endereco.numero')}" th:errors="*{endereco.numero}">Name error</label>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Bairro</label>
									<div class="col-sm-9">
										<input type="text" th:field="*{endereco.bairro}" class="col-xs-10 col-sm-5" th:value="*{endereco.bairro}" placeholder=""/>
										<label class="error" th:if="${#fields.hasErrors('endereco.bairro')}" th:errors="*{endereco.bairro}">Name error</label>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Estado</label>
									<div class="col-sm-9">
										<input type="text" th:field="*{endereco.estado}" class="col-xs-10 col-sm-5" th:value="*{endereco.estado}" placeholder=""/>
										<label class="error" th:if="${#fields.hasErrors('endereco.estado')}" th:errors="*{endereco.estado}">Name error</label>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Municipio</label>
									<div class="col-sm-9">
										<input type="text" th:field="*{endereco.municipio}" class="col-xs-10 col-sm-5" th:value="*{endereco.municipio}" placeholder=""/>
										<label class="error" th:if="${#fields.hasErrors('endereco.municipio')}" th:errors="*{endereco.municipio}">Name error</label>
									</div>
								</div>
								<div class="clearfix form-actions">
									<div class="col-md-offset-3 col-md-9">
										<button class="btn btn-info" type="submit">
											<i class="ace-icon fa fa-check bigger-110"></i>
											Cadastrar
										</button>
	
										&nbsp; &nbsp; &nbsp;
										<button class="btn" type="reset">
											<i class="ace-icon fa fa-undo bigger-110"></i>
											Resetar
										</button>
									</div>
								</div>
							</form>
							<!-- 										AQUI TERMINA O FORM -->

							</div><!--/.col!-->
						</div><!--/.row!-->
					</div><!-- .page-content!-->
				</div>
			</div><!-- /.main-content!-->

			<div class="footer">
				<div class="footer-inner">
					<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Future</span>
							System &copy; 2017
						</span>

						&nbsp; &nbsp;
						<span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
					</div>
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!--/.main-container!-->

		<!-- basic scripts -->
	<script th:inline="javascript">
	$(document).ready(function(){
		$('#telefone').mask('(00) 00000-0000');
		$('#dataNascimento').mask('00/00/0000');
		$('#cpfResponsavel').mask('000.000.000-00');
		$('#rg').mask('00.000.000-A');
		
		$('#passwordForm').focusout(function(){
			$('#password').val($('#passwordForm').val());
			
		});
		
		$('#buscarResponsavel').click(function(){
			var cpf = $('#cpfResponsavel').val();
			$('#erroResponsavel').addClass("hidden");
        	$('#responsavelEncontradoMsg').addClass("hidden");
        	$('#responsavelEncontradoAttr').addClass("hidden");
			buscarPorCpf(cpf);
		})
		
		$('.date-picker').datepicker({
			autoclose: true,
			todayHighlight: true
		})
		//show datepicker when clicking on the icon
		.next().on(ace.click_event, function(){
			$(this).prev().focus();
		});
	
		//or change it into a date range picker
		$('.input-daterange').datepicker({autoclose:true});
	

	});
	
	function buscarPorCpf(cpf) {
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		var search = {}
		search["cpf"] = cpf;
	    $.ajax({
	        method: "POST",
            contentType: 'application/json',
            dataType: "json",
	        url: "/responsaveis/buscarPorCpf",
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token);
            },
	        data:JSON.stringify(search),
	        cache: false,
	        timeout: 600000,
	        success: function (data) {
	            $('#responsavelEncontradoMsg span').html(data.result.msg)
	            $('#responsavelEncontradoMsg').removeClass("hidden");
	            $('#responsavelEncontradoNome').val(data.result.nome)
	            $('#responsavelEncontradoCpf').val(data.result.cpf)
	            $('#responsavelEncontradoAttr').removeClass("hidden");
	            $('#responsavelId').val(data.result.id);
	        },
	        error: function (e) {
	        	$('#erroResponsavel span').html("Responsável não encontrado")
	            $('#erroResponsavel').removeClass("hidden");

	        }
	    });

	}
	
	</script>
	</body>
</html>
