# flyctl launch added from .gitignore
**/target
!**/.mvn/wrapper/maven-wrapper.jar

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr

### NetBeans ###
**/nbproject/private
**/build
**/nbbuild
**/dist
**/nbdist
**/.nb-gradle

# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml
fly.toml
