<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/headTag :: headTag">
	</head>
	<body class="no-skin">
		<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"></meta>
		<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"></meta>
		<!-- TEMPLATE HEADER NAVBAR -->
		<div th:include="fragments/header-navbar" th:remove="tag"/>
		<div class="main-container ace-save-state" id="main-container">
			<script th:inline="javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

			<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
				<script th:inline="javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script>

				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
					<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
						<button class="btn btn-success">
							<i class="ace-icon fa fa-signal"></i>
						</button>

						<button class="btn btn-info">
							<i class="ace-icon fa fa-pencil"></i>
						</button>

						<button class="btn btn-warning">
							<i class="ace-icon fa fa-users"></i>
						</button>

						<button class="btn btn-danger">
							<i class="ace-icon fa fa-cogs"></i>
						</button>
					</div>

					<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>
				</div><!--/.sidebar-shortcuts !-->
				
				<!-- TEMPLATE MENU LATERAL -->
				<div sec:authorize="hasRole('ROLE_ADMIN')">
					<div th:include="fragments/menuLateralAdmin" th:remove="tag"></div>
				</div>
				<div sec:authorize="hasRole('ROLE_PROFESSOR')">
					<div th:include="fragments/menuLateralProfessor" th:remove="tag"></div>
				</div>
				<div sec:authorize="hasRole('ROLE_RESPONSAVEL')">
					<div th:include="fragments/menuLateralResponsavel" th:remove="tag"></div>
				</div>
				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>

			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							<li class="active">Dashboard</li>
						</ul><!--/.breadcrumb!-->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!--/.nav-search!-->
					</div>

					<div class="page-content">
						<div class="ace-settings-container" id="ace-settings-container">
							<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
								<i class="ace-icon fa fa-cog bigger-130"></i>
							</div>

							<div class="ace-settings-box clearfix" id="ace-settings-box">
								<div class="pull-left width-50">
									<div class="ace-settings-item">
										<div class="pull-left">
											<select id="skin-colorpicker" class="hide">
												<option data-skin="no-skin" value="#438EB9">#438EB9</option>
												<option data-skin="skin-1" value="#222A2D">#222A2D</option>
												<option data-skin="skin-2" value="#C6487E">#C6487E</option>
												<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
											</select>
										</div>
										<span>&nbsp; Choose Skin</span>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
										<label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
										<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
										<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
										<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
										<label class="lbl" for="ace-settings-add-container">
											Inside
											<b>.container</b>
										</label>
									</div>
								</div><!--/.pull-left!-->

								<div class="pull-left width-50">
									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
										<label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
										<label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
										<label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
									</div>
								</div><!--/.pull-left-->
							</div><!--/.ace-settings-box-->
						</div><!--/.ace-settings-container!-->
						
						<div class="page-header">
							<h1>
								Turma
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									Cadastro de nova Turma
								</small>
							</h1>
						</div>
						<!-- 		page-header -->
						<div class="row">
							<div class="col-xs-12">
							
<!-- 							AQUI COMECA O FORM -->

							<form th:action="@{/turmas/associarAlunoNaTurma}" method="post" class="form-horizontal" role="form" th:object="${turma}" >
								<input type="hidden" id="alunoId" name="alunoId"/>
								<input type="hidden" id="turmaId" name="turmaId"/>
								<h3 class="header smaller lighter blue">Aluno</h3>
								<div class="form-group">
									<div class="input-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Buscar aluno</label>
										<span class="input-group-addon">
											<i class="ace-icon fa fa-check"></i>
										</span>
	
										<input id="rgAluno" class="form-control search-query" placeholder="Digite o RG do aluno" type="text"/>
										<span class="input-group-btn">
											<button type="button" class="btn btn-inverse btn-white" id="buscarAluno">
												<span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
												Buscar
											</button>
										</span>
									</div>
									
									<div class="alert alert-block alert-success hidden" id="alunoEncontradoMsg">
										<p>
												<i class="ace-icon fa fa-check"></i>
											<span>You successfully read this important alert message.</span>
										</p>
									</div>
									
									<div class="alert alert-danger hidden" id="erroAluno">
										<button type="button" class="close" data-dismiss="alert">
											<i class="ace-icon fa fa-times"></i>
										</button>

										<strong>
											<i class="ace-icon fa fa-times" ></i>
											<span>Oh snap!</span>
										</strong>
										<br/>
									</div>
									
									<div id="alunoEncontradoAttr" class="hidden">
										<div class="col-sm-9">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-4">Nome</label>
											<input class="input-large" id="alunoEncontradoNome" type="text" disabled="disabled"/>
										</div>
										<div class="col-sm-9">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-4">RG</label>
											<input class="input-large" id="alunoEncontradoRg" type="text" disabled="disabled"/>
										</div>
										<div class="col-sm-9">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-4">Data de Nascimento</label>
											<input class="input-large" id="alunoEncontradoDataNascimento" type="text" disabled="disabled"/>
										</div>
										<div class="col-sm-9">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-4">Responsável</label>
											<input class="input-large" id="alunoEncontradoResponsavel" type="text" disabled="disabled"/>
										</div>
										<div class="col-sm-9">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-4">Telefone</label>
											<input class="input-large" id="alunoEncontradoTelefone" type="text" disabled="disabled"/>
										</div>
									</div>
								</div>
								<h3 class="header smaller lighter blue">Turma</h3>
								<div class="form-group">
									<div class="input-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1">Buscar Turma</label>
										<span class="input-group-addon">
											<i class="ace-icon fa fa-check"></i>
										</span>
	
										<input id="salaTurma" class="form-control search-query" placeholder="Digite o numero da sala" type="text"/>
										<span class="input-group-btn">
											<button type="button" class="btn btn-inverse btn-white" id="buscarTurma">
												<span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
												Buscar
											</button>
										</span>
									</div>
									
									<div class="alert alert-block alert-success hidden" id="turmaEncontradaMsg">
										<p>
											<i class="ace-icon fa fa-check"></i>
											<span>You successfully read this important alert message.</span>
										</p>
									</div>
									
									<div class="alert alert-danger hidden" id="erroTurma">
										<button type="button" class="close" data-dismiss="alert">
											<i class="ace-icon fa fa-times"></i>
										</button>

										<strong>
											<i class="ace-icon fa fa-times" ></i>
											<span>Oh snap!</span>
										</strong>
										<br/>
									</div>
									
									<div id="turmaEncontradaAttr" class="hidden">
										<div class="col-sm-9">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-4">Nome</label>
											<input class="input-large" id="turmaEncontradaNome" type="text" disabled="disabled"/>
										</div>
										<div class="col-sm-9">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-4">Número da sala</label>
											<input class="input-large" id="turmaEncontradaNumeroSala" type="text" disabled="disabled"/>
										</div>
										<div class="col-sm-9">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-4">Quantidade atual de alunos</label>
											<input class="input-large" id="turmaEncontradaQtdAlunosSala" type="text" disabled="disabled"/>
										</div>
										<div class="col-sm-9">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-4">Turno</label>
											<input class="input-large" id="turmaEncontradaTurnoSala" type="text" disabled="disabled"/>
										</div>
									</div>
								</div>
								<div class="clearfix form-actions">
									<div class="col-md-offset-3 col-md-9">
										<button class="btn btn-info" type="submit">
											<i class="ace-icon fa fa-check bigger-110"></i>
											Associar
										</button>
	
										&nbsp; &nbsp; &nbsp;
										<button class="btn" type="reset">
											<i class="ace-icon fa fa-undo bigger-110"></i>
											Resetar
										</button>
									</div>
								</div>
							</form>
							<!-- 										AQUI TERMINA O FORM -->

							</div><!--/.col!-->
						</div><!--/.row!-->
					</div><!-- .page-content!-->
				</div>
			</div><!-- /.main-content!-->

			<div class="footer">
				<div class="footer-inner">
					<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Future</span>
							System &copy; 2017
						</span>

						&nbsp; &nbsp;
						<span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
					</div>
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!--/.main-container!-->

		<script th:inline="javascript">
		
		$(document).ready(function(){
			$('#rgAluno').mask('00.000.000-A');
			
			$('#buscarAluno').click(function(){
				var rg = $('#rgAluno').val();
				$('#erroAluno').addClass("hidden");
	        	$('#alunoEncontradoMsg').addClass("hidden");
	        	$('#alunoEncontradoAttr').addClass("hidden");
				buscarAlunoPorRg(rg);
			})
			
			$('#buscarTurma').click(function(){
				var sala  = $('#salaTurma').val();
				$('#erroTurma').addClass("hidden");
	        	$('#turmaEncontradaMsg').addClass("hidden");
	        	$('#turmaEncontradaAttr').addClass("hidden");
				buscarTurmaPorSala(sala);
			})

		});
		
		function buscarAlunoPorRg(rg) {
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			var formData = new FormData();
			formData.append("rg", rg);
			$.ajax({
		        url: "/alunos/buscarPorRg",
	            beforeSend: function(xhr) {
	                xhr.setRequestHeader(header, token);
	            },
		        data: formData,
		        method: "POST",
		        contentType: false,
		        processData: false,
		        cache: false,
		        timeout: 600000,
		        success: function (data) {
		            $('#alunoEncontradoMsg span').html(data.result.msg)
		            $('#alunoEncontradoMsg').removeClass("hidden");
		            $('#alunoEncontradoNome').val(data.result.nome)
		            $('#alunoEncontradoRg').val(data.result.rg)
		            $('#alunoEncontradoDataNascimento').val(data.result.dataNascimento);
		            $('#alunoEncontradoResponsavel').val(data.result.nomeResponsavel);
		            $('#alunoEncontradoTelefone').val(data.result.telefone)
		            $('#alunoId').val(data.result.id);
		            $('#alunoEncontradoAttr').removeClass("hidden");
		        },
		        error: function (e) {
		        	$('#erroAluno span').html("Aluno não encontrado")
		            $('#erroAluno').removeClass("hidden");
		        }
		    });

		}	
		
		function buscarTurmaPorSala(sala) {
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			var formData = new FormData();
			formData.append("numeroSala", sala);
			$.ajax({
		        url: "/turmas/buscarPorSala",
	            beforeSend: function(xhr) {
	                xhr.setRequestHeader(header, token);
	            },
		        data: formData,
		        method: "POST",
		        contentType: false,
		        processData: false,
		        cache: false,
		        timeout: 600000,
		        success: function (data) {
		            $('#turmaEncontradaMsg span').html(data.result.msg)
		            $('#turmaEncontradaNome').val(data.result.nome)
		            $('#turmaEncontradaNumeroSala').val(data.result.numeroSala)
		            $('#turmaEncontradaQtdAlunosSala').val(data.result.qtdAlunos)
		            $('#turmaEncontradaTurnoSala').val(data.result.turnoSala)
		            $('#turmaId').val(data.result.id);
		            $('#turmaEncontradaMsg').removeClass("hidden");
		            $('#turmaEncontradaAttr').removeClass("hidden");
		        },
		        error: function (e) {
		        	$('#erroTurma span').html("Turma não encontrada")
		            $('#erroTurma').removeClass("hidden");
		        }
		    });

		}	
		</script>
	</body>
</html>
